{% extends 'Cinema_app/base.html' %}

{% block content %}

    <div class="container">
        <h3>Фильмы в который снимался актёр <i>{{ actor.full_name }}</i></h3>

        <div class="container d-flex flex-wrap py-4" style="row-gap: 30px;">
            {% for film in film_play %}

                <a href="{% url 'film' pk=film.pk %}" class="d-flex flex-column align-items-center col-4 link-film"><img src="{{ film.image }}"  style="width: 250px; height: 300px;">{{ film.title }}</a>

            {% endfor %}
        </div>

    </div>
{% endblock %}