{% extends 'Cinema_app/base.html' %}
{% load static %}
{% block title %} {{ film.title }} {% endblock title %}

{% block content %}
    <div class="container my-bg">







    {% comment %}TESTING!!!{% endcomment %}
    <div class="row flex-column">
  <div class="col-4">
    <div class="list-group d-flex flex-row justify-content-between" id="list-tab" role="tablist">
      <a class="my-nav-link active" id="list-info-list" data-bs-toggle="list" href="#list-info" role="tab" aria-controls="list-info">Описание</a>
      <a class="my-nav-link" id="list-profile-list" data-bs-toggle="list" href="#list-profile" role="tab" aria-controls="list-profile">Онлайн</a>
      <a class="my-nav-link" id="list-messages-list" data-bs-toggle="list" href="#list-messages" role="tab" aria-controls="list-messages">Скачать</a>
      <a class="my-nav-link" id="list-settings-list" data-bs-toggle="list" href="#list-settings" role="tab" aria-controls="list-settings">Смотрите также</a>
    </div>
  </div>
  <div class="col-12">
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="list-info" role="tabpanel" aria-labelledby="list-info-list">
<div class="d-flex py-4 px-0">
        {% if film.image %}
            <img src="{{ film.image }}" alt="" style="width: 300px; height: 400px">
        {% endif %}
        <div class="px-5 d-flex flex-column">
            <p class="info-film"><span class="desc-film">Название: </span>{{ film.title }}</p>
            <p class="info-film"><span class="desc-film">Возрастной рейтинг:  <a href="{% url 'filter_film' 'age' film.lim_age  %}" class="link-film">{{ film.get_lim_age_display }}</a></span></p>
            <p class="info-film"><span class="desc-film">Год: <a href="{% url 'filter_film' 'year' film.year  %}" class="link-film">{{ film.year }}</a></span></p>
            <p class="info-film"><span class="desc-film">Жанр: {% for ganre in film.ganre %}<a href="{% url 'filter_film' 'ganre' ganre  %}" class="link-film">{{ ganre }}</a>,  {% endfor %}</span></p>
            <p class="info-film"><span class="desc-film">Режиссёры: {% for director in film.director.all %}<a href="{% url 'director' director.pk %} " class="link-film">{{ director.full_name }}</a>,{% endfor %}</span></p>
            <p class="info-film"><span class="desc-film">Актёры: {% for actor in film.actor.all %}<a href="{% url 'actor' actor.pk %}" class="link-film">{{ actor.full_name }}</a>,{% endfor %}</span></p>
            <p class="info-film"><span class="desc-film">Страна: <a href="{% url 'filter_film' 'country' film.country  %}" class="link-film">{{ film.country }}</a></span></p>
        </div>
    </div>

<div class="flex-column my-desc">
<h3>Описание</h3>
    <p>{{ film.description }}</p>
    <h4>Комментарии</h4>
    {% if film.comments.count > 0 %}
        <table class="table info-film">
            <thead>
                <tr>
                    <th scope="col">Автор комментария</th>
                    <th scope="col">Комментарий</th>
                    <th scope="col">Дата создания</th>
                </tr>
            </thead>

            <tbody>
            {% for comment in film.comments.all %}
                    <tr>
                      <th scope="row">{{ comment.comment_author }}</th>
                      <td>{{ comment.comment_text }}</td>
                      <td>{{ comment.date_create }}</td>
                    </tr>
            {% endfor %}
            </tbody>
        </table>

    {% else %}
        На данный момент комментариев нет. Будьте первыми :)
    {% endif %}
    {% if user.is_authenticated %}
{#        <form method="POST" action="{% url 'film' film.pk %}">#}
{#            {% csrf_token %}#}
{#            {{ form.as_p }}#}
{#            #}
{#        </form>#}
        <a class="btn btn-primary" href="{% url 'comment' film.pk %}">Написать комментарий</a>
    {% else %}
        <br><br>
    <p>Что бы писать комментарии нужно зарегестрироваться</p>
    <p>Желаете пройти регистрацию? <a href="{% url 'register' %}" class="link-film">Sign up</a></p>
    <p>Если у вас уже имеется аккаунт <a href="{% url 'login' %}" class="link-film">Log in</a></p>
    {% endif %}
</div>
      </div>
      <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
{#          <video src="{{ film.video.url }}" class="film-video" controls></video>#}
      </div>
      <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
{#          <a href="{{ film.video.url }}" download>{{ film }}</a>#}
      </div>
      <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">4</div>
    </div>
  </div>
</div>
    </div>
{% endblock content %}