body{
    background: #0e121b;
    color: white;
}
.link-film{
    text-decoration: none;
    color: grey;
    transition: all 0.3s;
}
.link-film:hover{
    color: lightgray;
    transform: scale(1.1);
}
.desc-film{
    color: grey;
    font-weight: bold;
}
.info-film{
    color: white;
}
.desc-film >.link-film{
    color: white;
    font-weight: normal;
    transition: all 0.3s;
}
.desc-film >.link-film:hover{
    color: slategray;
    transform: scale(1.1);
}
.admin-page{
    color: white;
}
.my-nav-link{
    text-decoration: none;
    color: white;
}
.my-nav-link:hover{
    color: #4ac1f7;
    text-decoration: underline;
}
.film-video{
    width: 100%;
    height: 100%;
}
.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
}